<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Personage</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Personage</h1>
<a href="addPersonage">Add Personage</a>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Type</th>
        </tr>
        <tr >
            <td th:utext="${personage.nom}">...</td>
            <td th:utext="${personage.type}">...</td>
        </tr>
    </table>
</div>
</body>
</html>